.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar_left {
    width: 100%;
    background-color: #ddd;
    padding: 5rem;
}

.main_page {
    margin-left: 25rem;
}

.active {
    color: green;
}

.link {
    color: black;
    font-size: 1.2rem;
}

.loading {
    color: green;
}

.change_loading {
    color: red;
}

.status {
    background: black;
    width: 5rem;
    height: 30px;
}

.pending {
    color: yellowgreen;
}

.declined {
    color: rgb(77, 42, 42);
}

.interview {
    color: goldenrod;
}


/* stats dynamic color */

.color1 {
    color: red !important;
}

.bcg1 {
    font-size: 1.5rem;
}

.color2 {
    color: goldenrod;
}

.bcg2 {
    font-size: 1.5rem;
}

.color3 {
    color: rgb(77, 42, 42);
}

.bcg3 {
    font-size: 1.5rem;
}